<a href="https://colab.research.google.com/github/Alonsso/ipynb-notebooks/blob/main/Ejercicios_salarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller Pandas: Salarios SF

Este es un Taller básico para practicar las habilidades adquiridas usando Pandas. Utilizaremos el [dataset de Salarios en San Francisco - SF](https://www.kaggle.com/kaggle/sf-salaries) de Kaggle. 

Por favor complete las tareas que se detallan a continuación. El nivel de dificultad de las tareas es incremental.

** Importar pandas como pd**

In [14]:
# ESCRIBA SU CODIGO AQUI 
import pandas as pd
import numpy as np

** Leer el archivo salarios.csv como un dataframe llamado sal.**

In [11]:
# ESCRIBA SU CODIGO AQUI 
salarios = pd.read_csv("Salaries.csv", low_memory=False)
salarios

            Id       EmployeeName  ...         Agency Status
0            1     NATHANIEL FORD  ...  San Francisco    NaN
1            2       GARY JIMENEZ  ...  San Francisco    NaN
2            3     ALBERT PARDINI  ...  San Francisco    NaN
3            4  CHRISTOPHER CHONG  ...  San Francisco    NaN
4            5    PATRICK GARDNER  ...  San Francisco    NaN
...        ...                ...  ...            ...    ...
148649  148650      Roy I Tillery  ...  San Francisco     PT
148650  148651       Not provided  ...  San Francisco    NaN
148651  148652       Not provided  ...  San Francisco    NaN
148652  148653       Not provided  ...  San Francisco    NaN
148653  148654          Joe Lopez  ...  San Francisco     PT

[148654 rows x 13 columns]

** Muestre las primeras 5 filas del DataFrame para verificar que leyó los datos correctamente. **

In [12]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
salarios.head()

   Id       EmployeeName  ...         Agency Status
0   1     NATHANIEL FORD  ...  San Francisco    NaN
1   2       GARY JIMENEZ  ...  San Francisco    NaN
2   3     ALBERT PARDINI  ...  San Francisco    NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco    NaN
4   5    PATRICK GARDNER  ...  San Francisco    NaN

[5 rows x 13 columns]

In [ ]:
# NO USAR ESTA CELDA

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use el método .info() para determinar el número de filas leídas.**

In [13]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
salarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [ ]:
# NO USAR ESTA CELDA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

** ¿Cuál es el salario base (BasePay) promedio?**

In [25]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
promedioSalarioBase = pd.to_numeric(salarios['BasePay'], errors='coerce').mean()
promedioSalarioBase

66325.44884050643

In [ ]:
# NO USAR ESTA CELDA

66325.44884050643

** ¿Cuál es la mayor cantidad pagada por horas extra (OvertimePay)? **

In [31]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
maxOvertimePay = pd.to_numeric(salarios['OvertimePay'], errors='coerce').max()
maxOvertimePay

245131.88

In [ ]:
# NO USAR ESTA CELDA

245131.88

** ¿Cuál es el cargo (JobTitle) de JOSEPH DRISCOLL? 
Nota: Usar mayúsculas, de lo contrario obtendrá la respuesta equivocada porque también existe un registro con 'Joseph Driscoll' en minúsculas. **

In [33]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
salarios[salarios['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [ ]:
# NO USAR ESTA CELDA

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** ¿Cuánto gana JOSEPH DRISCOLL (incluyendo beneficios - TotalPayBenefits)? **

In [34]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
salarios[salarios['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [ ]:
# NO USAR ESTA CELDA

24    270324.91
Name: TotalPayBenefits, dtype: float64

** ¿Cuál es el nombre de la persona que más gana (incluyendo beneficios - TotalPayBenefits)?**

In [36]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
salarios[salarios['TotalPayBenefits'] == salarios['TotalPayBenefits'].max()]

   Id    EmployeeName  ...         Agency Status
0   1  NATHANIEL FORD  ...  San Francisco    NaN

[1 rows x 13 columns]

In [ ]:
# NO USAR ESTA CELDA

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** ¿Cuál es el nombre de la persona que menos gana (incluyendo beneficios - TotalPayBenefits)?**

In [39]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
salarios[salarios['TotalPayBenefits']  == salarios['TotalPayBenefits'].min()]

            Id EmployeeName  ...         Agency Status
148653  148654    Joe Lopez  ...  San Francisco     PT

[1 rows x 13 columns]

In [ ]:
# NO USAR ESTA CELDA

148653    Joe Lopez
Name: EmployeeName, dtype: object

** ¿Cuál es el salario base (BasePay) promedio de todos los empleados por año (2011-2014)? **

In [53]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
salarios.groupby('Year').mean()

            Id      TotalPay  TotalPayBenefits  Notes  title_len
Year
2011   18080.0  71744.103871      71744.103871    NaN  20.696231
2012   54542.5  74113.262265     100553.229232    NaN  18.514415
2013   91728.5  77611.443142     101440.519714    NaN  18.665904
2014  129593.0  75463.918140     100250.918884    NaN  18.702752

In [ ]:
# NO USAR ESTA CELDA

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** ¿Cuántos cargos (JobTitle) únicos existen? **

In [41]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
salarios['JobTitle'].nunique()

2159

In [ ]:
# NO USAR ESTA CELDA

2159

** ¿Cuáles son los 5 cargos más comunes? **

In [42]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
grouped = salarios.groupby('JobTitle').count()
top5 = grouped.sort_values(by='Id',  ascending=False)[:5]
top5['Id']

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: Id, dtype: int64

In [ ]:
# NO USAR ESTA CELDA

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** ¿Cuántos cargos estaban ocupados solamente por una persona en 2013? (cargos con solo una ocurrencia en 2013) **

In [44]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
copiedSalaries = salarios[salarios['Year'] == 2013]
group = copiedSalaries.groupby('JobTitle').count()
count = group[group['Id'] == 1]
count.count()['Id']

202

In [ ]:
# NO USAR ESTA CELDA

202

** ¿Cuánta gente tiene la palabra 'Chief' en su cargo?**

In [54]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
def find_chief(job_title):    
    if 'chief' in job_title.lower():
        return True
    else:
        return False

sum(salarios['JobTitle'].apply(lambda x: find_chief(x)))

627

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

627

** Extra: ¿existe una correlación entre la longitud del nombre del cargo y el salario? **

In [48]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO
salarios['title_len'] = salarios['JobTitle'].apply(len)

salarios[['title_len', 'TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [ ]:
# ESCRIBA SU CODIGO AQUI PARA NO BORRAR EL RESULTADO ESPERADO

In [ ]:
# NO USAR ESTA CELDA

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000